.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .spacer {
    flex: 0.05;
  }
  .spacer1 {
    flex: 0.9;
  }

  .listcontent {
    margin: 32px auto;
    padding: 0 16px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976d2;
    color: white;
    text-align: center;
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

