<!--Text of add product-->
<div>
  <p>Lisää tarvittava ruoka tai tavara ostoslistaan</p>
</div>
<!--Input with add button-->
<form name="itemFrm">
  <input type="text" name="addItem" [(ngModel)]="item" placeholder="Syötä tuote"/> 
  <button mat-raised-button ng-click="addItem()">Lisää tuote</button>
</form>
<!-- List with delete button -->
<div>
  <mat-list role="list">
    <mat-card *ngFor="let item of list.item">
        <mat-list-item >{{ item }}
            <div class="spacer"></div>
        <button mat-raised-button (click)="removeItem(item)">Poista tuote</button>
        </mat-list-item>
      </mat-card>
  </mat-list>
</div>