<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span><h2>Kauppa muistilista</h2></span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Resources</h2>
  <p>Insert here what kind of thing you have to buy from shop:</p>
<div class="">
    <form class="example-form">
          <input matInput placeholder="Favorite food">
      </form>
      <button (click)="onClickMe()">Add</button>
</div>

<!-- Check list-->
<div class="checklist-model">

</div>

  <!-- Carcontainer -->
  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>New Component</span>
    </div>

  </div>


  <!-- Footer -->
  <footer>
      Link back to our Github page&nbsp;
      <a href="https://github.com/Limenie/Angular-Project" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/Limenie/Angular-Project" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>
  <div class="madeby">
    Made by Olli Asikainen and Niina Harja
  </div>

</div>
<router-outlet></router-outlet>
